


*{
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --cor-primaria: #05C7F2;
    --cor-secundaria: #05DBF2;
    --cor-terciaria: #F2A74B;
    --cor-quartaria:#D95204;
    --cor-sextaria:#8C4126;

}
body{
    background: linear-gradient(135deg, var(--cor-primaria), var(--cor-secundaria));
}